.idea
OrgDeleteController/classes/
SelfRegistrationApproval/SCA-INF/bpel
SelfRegistrationApprovalApp/SelfRegistrationApproval/SCA-INF/classes/
SelfRegistrationApprovalApp/SelfRegistrationApproval/deploy/
UsernamePolicy/classes/
**/classes/
**/*.iml
