<?xml version="1.0" encoding="UTF-8"?>
<oimplugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <plugins pluginpoint="oracle.iam.scheduler.vo.TaskSupport">
    <plugin pluginclass="com.icsynergy.awsproject.OrgReconTask"
            version="0.9.0" name="OrgReconTask"></plugin>
  </plugins>
</oimplugins>
