<?xml version="1.0" encoding="UTF-8"?>
<oimplugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <plugins pluginpoint="oracle.iam.scheduler.vo.TaskSupport">
    <plugin pluginclass="com.icsynergy.awsproject.OrgReconTask"
            version="0.12.1" name="OrgReconTask"></plugin>
    <plugin pluginclass="com.icsynergy.awsproject.OrgIDAdjuster"
            version="0.10.1" name="OrgIDAdjuster"></plugin>
    <plugin pluginclass="com.icsynergy.awsproject.UserUDFSetterTask"
            version="0.0.1" name="UserUDFSetterTask"></plugin>
    <plugin pluginclass="com.icsynergy.awsproject.PasswordWarningNotificator"
            version="0.0.1" name="PasswordWarningNotificator"></plugin>
    <plugin pluginclass="com.icsynergy.awsproject.expireCustomActionWithNotification"
            version="0.0.1" name="expireCustomActionWithNotification"></plugin>
    <plugin pluginclass="com.icsynergy.awsproject.AssignManagerFromWFApprovalTask"
            version="0.0.3" name="AssignManagerFromWFApprovalTask"></plugin>
  </plugins>
</oimplugins>
