<?xml version="1.0" encoding="UTF-8"?>
<Events xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../metadata/NotificationEvent.xsd">
  <EventType name="Organization Event">
    <Resolver class="com.icsynergy.notification.orgResolver"></Resolver>
  </EventType>
</Events>