<?xml version="1.0" encoding="UTF-8"?>
<oimplugins>
 <plugins pluginpoint="oracle.iam.platform.kernel.spi.EventHandler">
  <plugin pluginclass="com.icsynergy.processplugins.CreateUserSetOrganizationPreProcessHandler"
          version="1.2" name="CreateUserSetOrganizationPreProcessHandler"/>
  <plugin pluginclass="com.icsynergy.processplugins.RoleUserUDFSetter"
          version="1.4" name="RoleUserUDFSetter"/>
  <plugin pluginclass="com.icsynergy.processplugins.RoleUserUDFRemover"
          version="1.4" name="RoleUserUDFRemover"/>
  <plugin pluginclass="com.icsynergy.processplugins.NotifyUserIdToUser"
          version="1.0" name="NotifyUserIdToUser"/>
  <plugin pluginclass="com.icsynergy.processplugins.NotifyUserPasswordChanged"
          version="1.0" name="NotifyUserPasswordChanged"/>
 </plugins>
 	<plugins pluginpoint="oracle.iam.notification.impl.NotificationEventResolver">
		<plugin pluginclass="com.icsynergy.notification.AttUserEmailResolver" version="1.2" name="AttUserEmailResolver"/>
	</plugins>
</oimplugins>
